.Welcome {
  width: 75%;
  max-width: 780px;
  margin: 0 auto;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-message,
.w-category-group {
  padding: 40px 0;
  max-width: 550px;
}

.w-message h2 {
  text-align: center;
}

.w-message p {
  font-size: 1.15rem;
}

.w-category-group {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 655px) {
  .w-category-group {
    height: 215px;
    flex-direction: column;
    align-items: center;
  }

  .w-category-group .btn {
    width: 100%;
  }
}