.cc-title {
  text-align: center;
  margin: 40px 0 10px;
}

.CardContainer {
  grid-row: 2 / 3;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
