.CardContainer {
  grid-row: 2 / 3;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cc-title-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 10px;
}

.cc-back-btn {
  text-decoration: none;
  color: var(--coral);
  bottom: 15px;
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cc-back-btn:hover {
  text-decoration: none;
  color: var(--turquoise);
  bottom: 15px;
}

.cc-title {
  text-align: center;
}

.cc-no-saved {
  padding: 0 75px 0 215px;
  width: 80%;
}

@media screen and (max-width: 655px) {
  .cc-title-group {
    flex-direction: column;
  }

  .cc-no-saved {
    padding: 0;
  }

  .CardContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .cc-title-group {
    width: 80%;
    margin: 40px auto 10px;
  }

  .cc-no-saved {
    text-align: left;
    padding: 0;
  }
}