.cc-title-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 10px;
}

.cc-back-btn {
  text-decoration: none;
  color: var(--coral);
  bottom: 15px;
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cc-back-btn:hover {
  text-decoration: none;
  color: var(--turquoise);
  bottom: 15px;
}

.cc-title {
  text-align: center;
}

.CardContainer {
  grid-row: 2 / 3;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
