:root {
  --deep-blue: #003049;
  --comet-red: #D62828;
  --sun-orange: #F77F00;
  --gold-star: #FCBF49;
  --moon-beam: #EAE2B7;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weigth: 400;
  background-color: var(--deep-blue);
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
