.Header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--denim);
}

.h-logo-group,
.h-nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-logo-group {
  height: 200px;
  width: 500px;
}

.h-nav-group {
  height: 200px;
  width: 500px;
}

.btn {
  width: 150px;
  height: 100px;
  background-color: var(--coral)
  display: flex;
  justify-content: space-around;
  align-items: center;
}